/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.nav-sidebar-fixed {
    position: fixed;
    margin-top: 10px;
}

.nav > li > a {
    padding: 0px !important;
}