@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font-family: "Lato", "Helvetica Neue", "Nanum Gothic", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lato", "Helvetica Neue", "Nanum Gothic", Helvetica, Arial, sans-serif;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.nav-sidebar-fixed {
    display: none;
}

.nav > li > a.nav-padding-flat {
    padding: 0px !important;
}

@media (min-width: 768px) {
    .nav-sidebar-fixed {
        display: block;
        position: fixed;
        margin-top: 10px;
        width: 200px;
    }

    #main-content {
        margin-left: 220px;
    }
}
